
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #e7c2e4;
	}

p {
	border: 6px solid #e5fff6;
	color: black;
	font-size: 40px;
	margin: 60px;

	}

.pic {
	border: 6px solid #ff6dba;
	position: relative;
	float:none;
	width: 600px;
	height: 500px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

}

.pic:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}


h1 {
	 text-align: center;
	 margin: 0;
	 color: black;
	 font-size: 150px;


	 }

h2 {
	margin: 60px;
	color: black;
	font-size: 60px;
	}

h3 {
	border: 6px solid #e5fff6;
	color: black;
	font-size: 40px;
	margin: 60px;

}

img {
border-radius: 50%
}

.glitter1 {
	width: 100px;
	position: fixed; left: 10px;
}

.glitter2 {
	width: 100px;
	position: fixed; right: 10px;

}

.custom {
   cursor: url(http://cur.cursors-4u.net/food/images1/foo73.gif), auto;
}

.container {
	width: auto;;
	margin: 0: auto;
	padding: 5px;
	border: 10px solid #c3f8fd;
	background:#e7c2e4;
}

.link {
	font-size: 50px;
}
